// colors
$primary: #0077cc;
$secondary: #e53935;
$main: #0b2c47;
$main2: #0b2b45;
$black: #000;
$white: #fff;
$secondaryText: #4D5A69;
$secondaryBg: #f0f4f8;
// fonts
$mainFont: "Work Sans", sans-serif;
$gotham: "Gotham", sans-serif;
