h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  span {
    color: $primary;
  }
  b {
    color: $secondary;
  }
}

h2 {
  font-size: 84px;
  font-weight: 700;
  line-height: 120%;
  &.big {
    font-size: 92px;
    letter-spacing: -0.025em;
  }
  &.lg {
    font-size: 112px;
    letter-spacing: -0.025em;
  }
  &.xlg {
    font-size: 124px;
    letter-spacing: -0.025em;
  }
}

h3 {
  font-size: 68px;
  line-height: 120%;
  font-weight: 700;
  letter-spacing: 0.0025em;
  &.ex {
    font-size: 258px;
    line-height: 77%;
    font-weight: 700;
    background: linear-gradient(155deg, #3399ff 46%, $primary 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

h4 {
  font-size: 48px;
  line-height: 120%;
  font-weight: 700;
  letter-spacing: -0.025em;
}

h5 {
  font-size: 25px;
  line-height: 120%;
  font-weight: 700;
  &.big {
    font-size: 35px;
  }
}

h6 {
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  &.sm {
    text-transform: unset;
    font-size: 18px;
    line-height: 120%;
    font-weight: 400;
    letter-spacing: unset;
  }
}
p {
  &.xlg {
    font-size: 30px;
    font-weight: 700;
    line-height: 135%;
    letter-spacing: -0.025em;
  }
  &.lg {
    font-size: 22px;
    line-height: 135%;
  }
  &.big {
    font-size: 19px;
    font-weight: 700;
    line-height: 130%;
  }
  &.ex {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}
.main {
  overflow: hidden;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: $mainFont;
  transition: 0.3s ease;
  &.primary {
    position: relative;
    font-size: 22px;
    line-height: 100%;
    font-weight: 600;
    border-radius: 35px;
    color: $white;
    overflow: hidden;
    padding: 24px 48px;
    box-shadow: 0 0 20px rgba($primary, 0.8);
    background: linear-gradient(90deg, $primary, #4bcffa);
    &:hover {
      opacity: 1;
      &::before {
        opacity: 1;
      }
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(90deg, #4bcffa, $primary);
      pointer-events: none;
      opacity: 0;
      transition: 0.3s ease;
    }
    span {
      position: relative;
    }
  }
  &.secondary {
    position: relative;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 35px;
    color: $white;
    padding: 24px 70px;
    background-color: $secondary;
    box-shadow: 0 0 20px rgba($secondary, 0.8);
    &:hover {
      opacity: 1;
      background-color: #ff5e51;
    }
  }
  &.uniq {
    font-size: 20px;
    line-height: 100%;
    padding: 15px 56px;
    color: $primary;
    border-radius: 26px;
    border: 1px solid $primary;
    &:hover {
      opacity: 1;
      background-color: $primary;
      color: $white;
    }
  }
  &.sm {
    font-size: 20px;
    padding: 16px 48px;
  }
}
